@media (max-width: 768px){  

  .menu-bar{
    position: fixed;
    height: auto;
    width: 90%;
    transform: translateX(150%);
    background: var(--nms-darkblue);
    opacity: .9;
  }
  .menu-bar.active{
    transform: translateX(calc(10% + 5px)) !important;
  }
  .menu-bar ul{
    display: inherit;
    float: none;
    text-align: center;
    height: 100vh;
    margin-right: 0; 
    padding-top: calc(50vh - 90px);   
  }
  
  .menu-bar ul li:hover{
    transition: .8s;
    background: var(--nms-red);
  }
}



@media (max-width: 450px){
  .mns-h3{
    font-size: 2em;
  }
}