:root{
  /* Paleta de colores para el proyecto */
  --nms-yellow: rgba(255,231,76,1);
  --nms-red: rgba(255,89,100,1);
  --nms-white: rgba(255,255,255,1);
  --nms-darkblue: rgba(56,97,140,1);
  --nms-blue: rgba(53,167,255,1);

  --nms-bodycolor: var(--nms-white);
  --nms-backhome: var(--nms-darkblue);
  --nms-backfooter: var(--nms-darkblue);

  --nms-backhome-temp: linear-gradient(-90deg, var(--nms-darkblue) , var(--nms-blue));
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(https://fonts.gstatic.com/s/exo/v7/4UaOrEtFpBISc36j.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  background: var(--nms-bodycolor);
  font-family: 'Exo', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.mns-h3{  
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: 700;
}

/* ==================================================================== TEMPORAL ============================================================================ */

/* section{
  height: 100vh;
  width: 100%;
} */

.testcontenedor{
  height: 100vh;
  width: 100%;
}

/* up */

.up{
  position: fixed;
  bottom: 80px;
  right: 5px;
  width: 60px;
  height: 60px;
  background: var(--nms-darkblue);
  border-radius: 50%;
}
.up a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.up a i{
  padding: 0;
  margin: 0;
  color: var(--nms-white);  
  font-size:40px;
  line-height: 58px;
}

/* ========================================================================  HEADER  ======================================================================== */

.menu{
  position: fixed;
  top:0;
  right:0;
  height: 60px;
  width: 60px;  
  background: var(--nms-darkblue);
  opacity: .9;
  cursor: pointer;
  z-index: 5;
  box-sizing: border-box;
  border-radius:30px;
  margin-top: 4px;
  margin-right: 4px;
}
.menu span{
  position: absolute;
  height: 2px;
  width: 30px;
  background: var(--nms-white);
  display: block;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
  transition: .2s;
  opacity: 1;
}
.menu span:nth-child(1){
  transform: translateY(-10px);
}
.menu span:nth-child(3){
  transform: translateY(10px);
}
/* ================================ Botón menú al clickear ================================ */
.menu.active span:nth-child(1){
  transform: translateY(0px) rotate(-45deg); 
}
.menu.active span:nth-child(2){
  transform: translateY(-10px);
  opacity: 0;
}
.menu.active span:nth-child(3){
  transform: translateY(0px) rotate(45deg);
}
.menu.active{
  background: transparent;  
}
/* ================================ Barra de menú ================================ */
.menu-bar{
  position: absolute;
  top:0;
  left:0;
  height: 60px;
  width: 100%;
  background: var(--nms-darkblue);
  transition: .5s;
  transform: translateY(-100%);
  z-index: 4;
}
.menu-bar.active{
  transform: translateY(0); 
  position: fixed;
  transition: .5s;
}
.menu-bar ul{
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 10%;
  z-index: 3;
}
.menu-bar ul li{
  list-style: none;
}
.menu-bar ul li:hover{
  background: var(--nms-red);
}
.menu-bar ul li a{
  display: block;  
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 5px;
  text-transform: uppercase;  
  color: var(--nms-white);
  text-decoration: none;
  padding: 0 20px;
}
.menu-bar ul li:last-child a{
  border-right: none;
}
.op{
  background: rgba(0,0,0, .9);
}
.nms-redes-menu{
  display: none;
}
.nms-redes-menu a{
  display: inline-block !important;
  font-size: 30px !important;
  margin: 0 10px 0;
  padding: 0 10px 0 !important;
}

/* ========================================================================  HOME  ======================================================================== */

section#home{
  height: 100vh;
  width: 100%;
  /* background: var(--nms-backhome-temp); */
  background: var(--nms-backhome);
  overflow: hidden;
}

/* .nms-flex-center{ */
  /* width: 500px;
  height: 500px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* height: 100vh;
  width: 100%; */  
  /* outline: 1px solid red; */
/* } */

.nms-flex-center{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid red; */
}

#home h2{
  /* width: 25vw; */
  padding: 0 20px 0;
  color: white;
}

#callto #btncall{
  display: inline-block;
  height: 50px;
  width: 150px;
  margin: 30px;
  padding: 0;
  background: var(--nms-red);
  /* border: 2px solid var(--nms-white); */
  border-radius: 30px;
}
.nms-callto{
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--nms-white);
  line-height: 50px;
  text-transform: uppercase;  
}

.nms-redes{
  position: absolute;
  bottom: 25px;
}
.nms-redes ul{
  display: flex;
  margin: 0;
  padding: 0;  
}
.nms-redes ul li{
  list-style: none;
}
.nms-redes ul li a{
  display: block;  
  width: 50px;
  height: 50px;
  background: var(--nms-red);
  border-radius: 50%;
  margin: 0 10px 0;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.nms-redes ul li a i{
  color: var(--nms-white);
  font-size: 25px;
  line-height: 50px;
}

/* ========================================================================  PRODUCT  ======================================================================== */

section#product{
  padding-top: 10px;
}


/* ========================================================================  CONTACT  ======================================================================== */

section#contact{
  padding-top: 30px;
}

#contact .card-content .row{
  margin-bottom: 0;
}

.nms-contact-btn li{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.nms-contact-btn i{
  color: var(--nms-red);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.nms-contact-btn span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--nms-red);
  line-height: 2rem;
}

.input-field{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
form .btn{
  width: 100px;
  background-color: var(--nms-red);
  border-radius: 50px;
}
form .btn:hover{
  background-color: var(--nms-red);
  opacity: 0.8;
}

/* ========================================================================  FOOTER  ======================================================================== */

#footer{
  color: var(--nms-white);
  width: 100%;
  background: var(--nms-backfooter);
}

#footer .row{
  margin-bottom: 0;
}

#footer p{
  font-size: 1rem;
}
/* #footer div{
  padding: 50px;
} */
.nms-logo-footer{

}
.nms-logo-footer div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; 
}
.nms-logo-footer div a img{
  width: 200px;
}
.nms-redes-footer{
  margin-top: 5%   
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* position: absolute;
  bottom: 25px; */
}
.nms-redes-footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;  
}
.nms-redes-footer ul li{
  list-style: none;
}
.nms-redes-footer ul li a{
  display: block;  
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--nms-white);
  border-radius: 50%;
  margin: 0 10px 0;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.nms-redes-footer ul li a i{
  color: var(--nms-white);
  font-size: 20px;
  line-height: 36px;
}



